/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-red-alt-3: #D50000;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --blue-icon-dark: #034CA6;
    --ab-blue: #20369F;
    --ab-button: rgba(32, 54, 159, .8);
    --button-blue-gradient: linear-gradient(to bottom, #7892C2 80%, #476E9E 100%);
    --blue-border-gradient-match: #476E9E;
    --button-background-delete: #D05C84;
    --link-color-primary: #3366CC;
    --header-page-margin-address-book: 5px 15px 10px 15px;
    --page-margin-address-book: 0 15px 0 15px;
    --title-margin-address-book: 0 15px 0 15px;
    --border-radius-address-book: 3px;
    --panel-background-address-book: #EEEEEE;
    --transition-address-book: ease-in-out all .3s;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

.display-none, .d-none { display: none; }

.font-weight-bold { font-weight: bold; }

.text-center { text-align: center; }

.relative { position: relative; }

.ab-page-header h2 {
    margin-top: 0;
    font-weight: 600;
}

.ab-config-page fieldset {
    border: 2px solid var(--ab-blue);
    border-radius: var(--border-radius-address-book);
}

.ab-config-page fieldset legend {
    background: var(--ab-blue);
    color: var(--pp-white);
    border-radius: var(--border-radius-address-book);
    padding: 3px 8px 4px 8px;
    font-size: 1.1em;
}

p.new-item-intro, p.contact-profile-intro {
    margin-block: 10px;
}

fieldset.ab-new-item .input-section, fieldset.ab-new-item .form-actions {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.input-section span.form-required, .property-wrapper span.form-required {
    vertical-align: top;
    transform: scale(1.7);
    display: inline-block;
    color: var(--pp-red-alt-3);
}

input[type="text"].property-input, .property-fields input[type="text"] {
    border: 1px solid var(--ab-blue);
    border-radius: var(--border-radius-address-book);
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="text"].property-input::placeholder, .property-fields input[type="text"]::placeholder {
    color: var(--pp-grey);
}

.input-section .form-help code {
    font-family: monospace;
    font-size: 1.2em;
    background: grey;
    padding: 1px 3px;
    color: var(--pp-white);
    border-radius: 2px;
    margin: auto 1px;
}

fieldset.ab-new-item .form-actions {
    padding-top: 0;
}

#ContactProfileTable {
    margin-top: 15px;
    margin-bottom: 5px;
    border-collapse: unset;
}

#ContactProfileTable th, #ContactProfileTable td {
    border: 1px solid var(--ab-blue);
    padding-left: 5px;
    padding-right: 5px;
    border-left: 0;
    border-right: 0;
    vertical-align: middle;
}

#ContactProfileTable th {
    border-top: 2px solid var(--ab-blue);
    background-color: var(--ab-button);
    color: var(--pp-white);
}

#ContactProfileTable td {
    border-bottom: 0;
}

#ContactProfileTable tr:last-child td {
    border-bottom: 1px solid var(--ab-blue);
}

#ContactProfileTable th:last-child {
    padding-left: 10px;
}

#ContactProfileTable td ul.property-action-bar {
    list-style-type: none;
}

#ContactProfileTable td ul.property-action-bar li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#config-section .sidebar {
    min-width: fit-content;
    margin-right: 5px;
}

.property-action-bar .move-buttons {
    float: left;
}

.property-action-bar .action-buttons {
    float: right;
}

.property-action-item a {
    font-size: 1em;
}

.btn-ab-move, .btn-ab-rename, .btn-ab-property {
    background: var(--ab-button);
    border-radius: var(--border-radius-address-book);
    transition: var(--transition-address-book);
    border: 1px solid var(--ab-button);
}

.btn-ab-delete {
    /* Default red */
    background: #D14836;
    border-radius: var(--border-radius-address-book);
    transition: var(--transition-address-book);
    border: 1px solid #D14836;
    color: var(--pp-white);
}

.btn-ab-move i, .btn-ab-rename, .btn-ab-delete i, .btn-ab-property {
    color: var(--pp-white);
}

.btn-ab-move:focus, .btn-ab-move:hover, .btn-ab-rename:focus, .btn-ab-rename:hover, .btn-ab-property:focus, .btn-ab-property:hover {
    border: 1px solid var(--ab-button);
}

.btn-ab-delete:focus, .btn-ab-delete:hover {
    border: 1px solid #D14836;
    color: #D14836;
}

.btn-ab-delete:focus i, .btn-ab-delete:hover i {
    color: #D14836;
}

.btn-ab-move:focus i, .btn-ab-move:hover i, .btn-ab-rename:focus, .btn-ab-rename:hover, .btn-ab-property:focus, .btn-ab-property:hover {
    color: var(--ab-blue);
}

h2 span.address-book-icon {
    vertical-align: top;
    width: 24px;
    height: 24px;
    display: inline-block;
}

fieldset.ab-contact-profile legend span.contact-profile-icon {
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    display: inline-block;
}

fieldset.ab-new-item legend span.property-icon {
    vertical-align: sub;
    width: 24px;
    height: 24px;
    display: inline-block;
}

li.property-action-item a span.rename-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    transition: var(--transition-address-book);
}

#ContactProfileTable thead tr th span.property-icon {
    vertical-align: sub;
}

.property-wrapper .property-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-inline: 5px;
}

.property-wrapper .property-fields {
    display: inline-block;
}

.modal-form .form-actions, .confirm, .form-actions {
    text-align: right;
}

.rename-property-modal .page-header h2 span.rename-icon {
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
}

.delete-property-modal .page-header h2 span.property-icon {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.property-fields label {
    margin-bottom: 2px;
}

.rename-property-modal .page-header h2, .delete-property-modal .page-header h2 {
    border-bottom: 0;
}

.confirm p.confirm-delete {
    font-weight: 600;
    padding: 10px;
}

button.btn.cancel-btn {
    margin-left: 2px;
    transition: var(--transition-address-book);
}
